body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background: url('as.png') no-repeat center center;
    background-size: cover;
    color: black; /* Mengubah warna teks menjadi hitam */
    height: 100vh;
}

.navs {
    padding: 15px 60px;
    font-size: 15px;
    background-color: transparent; /* Mengubah latar belakang menjadi transparan */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.custom-navbar {
    background: url('logo.png') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar-brand {
    margin: 0;
}

.navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler-icon {
    width: 30px;
    height: 30px;
}

.navbar-nav {
    flex-direction: row;
    justify-content: end;
    width: 100%;
}

.nav-item {
    margin: 0 10px;
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

.header-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 24px;
}

.header-form {
    width: 500px; /* Mengubah lebar maksimal header-form menjadi 100% */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header-form h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-control::placeholder {
    color: #999;
}

.form-control-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.form-check-label {
    display: block;
    margin-bottom: 20px;
    color: #007bff;
    text-align: right;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 20px;
    z-index: 1000;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}